{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Trial period" %}{% endblock %}

{% block content %}
<h1>{% trans "Trial Period" %}</h1>

<p>{% trans "We will contact you soon for your account activation. For instant activation please drop your message  <a href='https://www.linkedin.com/in/raushan-raj-90ba0842/'>here</a>" %}</p>
{% endblock %}
