[uwsgi]
vhost           = true
chdir           = {{project_root}}/{{project_name}}/
socket          = /tmp/vetted.sock
master          = true
enable-threads  = true
processes       = {{ ansible_processor_vcpus * 2 + 1}}
threads 		= 1
wsgi-file       = {{project_root}}/{{project_name}}/vetted/wsgi.py
max-requests    = 1000
vacuum          = true
chown-socket    = root
chmod-socket    = 666
plugins         = python3
