{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h4>Add Employee</h4>
   <form method="post" action="{% url 'employee:add' %}">
       {% csrf_token %}
{{form | crispy }}
       <input type="submit" class="btn btn-sm">
       </form>


{% endblock %}