{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-lg-3">
        <b>Name</b>
    </div>
    <div class="col-lg-3">
        <b>Email</b>
    </div>
    <div class="col-lg-3">
       <b>Delete</b>
    </div>
</div>
<br/>

{% for employee in object_list %}

<div class="row">
    <div class="col-lg-3">
        {{employee.name | upper}}
    </div>
    <div class="col-lg-3">
        {{employee.user.email}}
    </div>
    <div class="col-lg-3">
        <form method="post" action="{% url 'employee:delete' pk=employee.pk %}">
            {% csrf_token %}
            <input type="submit"  class="btn btn-sm btn-danger" value="del">
        </form>

    </div>
</div>

    <div style="margin-top:10px;border-top: 1px dotted gray" class="row">
        &nbsp;
    </div>
{% endfor %}

<div class="row">

    {% include 'pagination.html' %}
</div>
{% endblock %}