{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
    <table cellpadding="10px">
        <tr>
            <td><b>Email: </b></td>
            <td>&nbsp;&nbsp;</td>
            <td>{{request.user.email}}</td>
        </tr>
          <tr>
            <td><b>Name: </b></td>
            <td>&nbsp;&nbsp;</td>
            <td>{{object.name}}</td>
        </tr>

         <tr>
            <td><b>About: </b></td>
            <td>&nbsp;&nbsp;</td>
            <td>{{object.about_me}}</td>
        </tr>

         <tr>
            <td><b>Company: </b></td>
            <td>&nbsp;&nbsp;</td>
            <td>{{object.company.name}}</td>
        </tr>
    </table>
</div>
</div>
{% endblock %}