{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
{% for message in messages %}
<span style="color:green">{{message}}</span>
{% endfor %}

{% endif %}

<h4>Invite Employee</h4>
   <form method="post" action="{% url 'employee:invite' %}">
       {% csrf_token %}
{{form | crispy }}
       <input type="submit" class="btn btn-sm">
       </form>


{% endblock %}