{% extends "company/company_base.html" %}

{% block content %}


<div class="row">
    <div class="col-lg-3">
        <b>Company Name</b>
    </div>
    <div class="col-lg-3">
        <b>Domain</b>
    </div>
    <div class="col-lg-3">
        <b>Admin</b>
    </div>
    <div class="col-lg-3">
       <b>Delete</b>
    </div>
</div>

<div class="row">
    &nbsp;
</div>

{% for company in object_list %}

<div class="row">
    <div class="col-lg-3">
        {{company.name | upper}}
    </div>
    <div class="col-lg-3">
        {{company.email_domain}}
    </div>
    <div class="col-lg-3">
        {{company.admin}}
    </div>
    <div class="col-lg-3">
        <form method="post" action="{% url 'company:delete' pk=company.pk %}">
            {% csrf_token %}
            <input type="submit"  class="btn btn-sm btn-danger" value="del">
        </form>

    </div>
</div>

    <div style="margin-top:10px;border-top: 1px dotted gray" class="row">
        &nbsp;
    </div>
{% endfor %}

<div class="row">

    {% include 'pagination.html' %}
</div>

{% endblock %}