{% extends "company/company_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h4>Create a company</h4>
   <form method="post" action="{% url 'company:add' %}">
       {% csrf_token %}
{{form | crispy }}
       <input type="submit" class="btn btn-sm">
       </form>

{% endblock %}