{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-lg-6">

    </div>
</div>
<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-lg-6">
        <div style="display:none">
            {% for message in messages %}
<span style="color:green">{{message}}</span>
{% endfor %}
        </div>
{% if request.user.is_authenticated %}
        {% if request.user.user_role %}
         <h3>Welcome {{request.user.username}} to vetted !!!</h3>
        {% else %}

        <h4><i>No roles has been assigned yet</i></h4>

        {% endif %}
{% else %}

     <h4>Employee Management Suite</h4>

{% endif %}

    </div>
</div>

{% endblock %}