{% if is_paginated %}


 <ul class="pagination">
  <li class="page-item">


      {% if page_obj.has_previous %}
      <a class="page-link previous" href="?page={{ page_obj.previous_page_number }}">
        &laquo;
      </a>
    {% else %}
      <span class="page-link previous">&laquo;</span>
    {% endif %}
  </li>

  {% for page_number in paginator.page_range %}
    {% if page_number == page_obj.number %}
        {% if page_obj.has_previous %}

            {% if page_number != page_obj.paginator.start_page %}

                 <li class="page-item">
                     <a class="page-link" href="?page=1">
                1</a>
                 </li>


            {% endif %}

            {% if page_number != 2 %}
                <li class="page-item"><span class="page-link">...</span></li>

            <li class="page-item" >
             <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                {{ page_obj.previous_page_number }} </a>
          </li>
            {% endif %}


           {% endif %}

      <li class="page-item active" >
        <span class="page-link">{{ page_number }}</span>
      </li>

        {% if page_obj.has_next %}
            {% if  page_obj.next_page_number != page_obj.paginator.num_pages %}
            <li class="page-item" >
             <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                {{ page_obj.next_page_number }} </a>
          </li>
                <li class="page-item"><span class="page-link">...</span></li>
            {% endif %}

             {% if page_number != page_obj.paginator.num_pages %}

                 <li class="page-item">
                     <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                {{ page_obj.paginator.num_pages }} </a>
                 </li>
            {% endif %}

         {% endif %}



      {% endif  %}

  {% endfor %}


  <li class="page-item">
    {% if page_obj.has_next %}
      <a class="page-link next" href="?page={{ page_obj.next_page_number }}">
        &raquo;
      </a>
    {% else %}
      <span class="page-link next">&raquo;</span>
    {% endif %}
  </li>
</ul>

    {% endif %}
