{% extends "dashboard.html" %}
{% load i18n %}
{% load crispy_forms_tags  %}

{% block title %}Sttor: Update details{% endblock %}

{% block content %}

<div class="container">
     <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-lg-12">
            <h3>{% block header %}Update details{% endblock %}</h3>
            <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="control-group">
                  <div class="controls">
                       <a class="link button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br/><br/>
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}